<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="requestId" converterClass="org.tretton63.feikit.converters.RequestIdConverter"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} [requestId=%requestId] - %msg%n"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>